*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #c68c53a8;
    font-family: 'Architects Dauter';
}

.main-container{
    /* border: 2px solid black; */
    width: 95%;
    margin: auto;
}

.container1{
    /* border: 2px solid blue; */
    margin-left: 5%;
}

.container2{
    /* border: 2px solid red; */
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 5%;
}

.container3{
 /* border: 2px solid brown; */
 display: none;
 position: absolute;
 top: 26%;
 left: 40%;
}

textarea{
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    outline: none;
    border: none;
    width: 275px;
    height: 275px;
    padding: 40px 25px 25px 25px;
}

svg{
    color: gray;
}

#check-icon{
    position: absolute;
    right: 17%;
    top: 4%;
}

#x-icon{
    position: absolute;
    top: 4%;
    right: 5%;
}